body{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
#search{
    height: 3.5rem;
    width: 16rem;
    border: none;
    border-radius: 40px;
    padding-left: 1rem;
    font-size: 1.2rem
    
}
button{
    font-size: 1rem;
    height: 40px;
    width: 40px;
    background-color: black;
    color: white;
    position: relative;
    right: 55px;
    border-radius: 50%;

}