body{
    background-color: aqua;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    height: 100vh;
}
#search{
    height: 3.9rem;
    width: 21rem;
    border: none;
    border-radius: 40px;
    padding-left: 1rem;
    font-size: 1.2rem;
    outline: none;
    
}
button{
    font-size: 1rem;
    height: 50px;
    width: 50px;
    background-color: rgb(0, 0, 0);
    color: white;
    position: relative;
    right: 57px;
    border-radius: 50%;
}