* {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: none;
  }
  body{
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: whitesmoke;
  }
  .container{
      background-color: white;
      height: 70vh;
      width: 400px;
      border-radius: 20px;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 1rem;
      gap: 15px;
      box-shadow: 0px 0px 20px 0px rgb(214, 212, 212);
  }
  #input-box{
      width: 87.2%;
      height : 55px;
      margin-top: 8px;
      outline: none;
      border: none;
      border-radius: 10px;
      background-color: whitesmoke;
      box-shadow: 0px 0px 3px 0px rgb(194, 194, 194);
      font-size: 1.8rem;
      padding: 0px 8px 0px 8px;
      display: flex;
      justify-content: end;
      align-items:center ;
  }
  .buttons{
      height: 60px;
      width: 80px;
      border-radius: 8px;
      font-size: 1.25rem;
      font-weight: 100;
      background-color: whitesmoke;
  }
  #three{
  margin-right: 96px;
  }
  #equal{
      width: 170px;
      background-color: rgb(115, 27, 238);
      color: white;
  }