.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 30px;
}
.left {
  font-weight: bold;
}
ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile {
  margin-top: -200px;
  margin-left: 50px;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: red;
  background-image: url('./images/main.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.leftbody{
  width: 50%;
  height: 100%;
  margin: 0 20px;
}
.rightbody{
  width: 50%;
  height: 100%;
  margin: 0 20px;
}
.leftbody h1 {
  font-size: 2.1em;
  color: black
}
.project{
  height: 110px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 0 10px;
}
.project p {
  margin-top: -10px;
}
.background {
  background-color: #f0f0f0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cont {
  height: 80vh;
  width: 50vw;
  background-color: #ffffff;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0px 4px 1px  #e7e5e5;
}