* {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    border: none;
  }
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 230);
  }
  .container {
    background-color: white;
    height: 70vh;
    width: 500px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
    gap: 25px;
  }
  #addBtn {
    background-color: rgb(0, 0, 230);
    height: 50px;
    margin-top: 8px;
    outline: none;
    border: none;
    border-radius: 8px;
    width: 80px;
    border: 2px solid rgb(0, 0, 230);
    color: white;
    font-size: 1.2rem;
  }
  #input-box {
    width: 70%;
    height: 50px;
    margin-top: 8px;
    outline: none;
    /* border: none; */
    border-radius: 8px;
    box-shadow: 0px 0px 3px 0px rgb(194, 194, 194);
    font-size: 1.2rem;
    padding: 0px 10px 0px 10px;
    border: 2px solid rgb(0, 0, 230);
  }
  .todobox {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 70%;
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .todobox li {
    background-color: #5cddd7;
    border-radius: 8px;
    margin-top: 15px;
    padding: 8px 14px ;
    text-align: justify;
    width: 94.5%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .todobox li .delete {
    color: white;
    border-radius: 8px;
    background-color: darkblue;
    padding: 12px;
  }